* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}
body{
    background-color: #f6e7df;
    
}
.logo{
    height: 50px; 
}


h1{  
   font-size: 50px;
   line-height: 64px;
   color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #222;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:  #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border:none ;
    outline: none;
    transition: 0.2s;

}


button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:  #fff;
    background-color: transparent;
    cursor: pointer;
    border:1px solid #fff ;
    outline: none;
    transition: 0.2s;

}

/* Header Start  */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px ;
    background: #f9e8c7;
    box-shadow: 0 5PX 15PX rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #D36B00;
    transition: 0.3s ease;
  
}

#navbar li a:hover,
#navbar li a.active{
    color:#FEC260;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
   background: #FEC260;
   position: absolute;
   bottom: -4px;
   left: 20px;
}




#mobile{
    display: none;
    align-items: center;

}
#mobile img{
    display: none;
    align-items: center;
    width: 30px;
    height: 30px;

}

#close{
    display: none;
}











/* Home Page */

#hero{
    background-image: url(imgesToShop/bk6.jpeg);
    height: 600px;
    /* width: 100%; */
    background-size: cover;
    background-position: top 45% right 0;
    padding: 0 80px;
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


#hero h4{
    color: #f6f5f5;
    padding-bottom: 15px;
}
#hero h2{
    color: #f6f5f5;
   
}
#hero p{
    color: #f6f5f5;
    
}
#hero h1{
   color: #D36B00;
}
#hero button{
    background-color: #fff;
    color: #D36B00;
    border: 0 ;
    padding: 14px 40px 14px 40px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 4px;
}  

#hero button a{
    color:#b36e0c;
    text-decoration: none;
}

#hero button:hover{
    color: #b36e0c;
    background-color: #e8cfb6;
}

.img1{
    height: 150px;
    width: 150px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#feature .fe-box{
    width:180px ;
    text-align: center;
    padding:25px 15px ;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03) ;
    border: 1px solid   #a25a86;
    border-radius:4px ;
    margin:15px 0px ;
}
#feature .fe-box:hover{

    box-shadow: 50px 50px 50px rgba(70,62,221,0.1);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom:10px ;


}


#feature .fe-box h6{
    
    padding: 9px 8px 6px 8px ;
    line-height: 1;
    border: radius 4px;
    color:  #a25a86;
    background-color: #e9b1bd;
}
#feature .fe-box:nth-child(2) h6{
    background-color: rgb(178, 221, 182);
}
#feature .fe-box:nth-child(3) h6{

    background-color: rgb(171, 228, 235);
}
#feature .fe-box:nth-child(4) h6{

    background-color: rgb(190, 201, 232);
}
#feature .fe-box:nth-child(5) h6{

    background-color: rgb(185, 219, 188);
}
#feature .fe-box:nth-child(6) h6{

    background-color: rgb(206, 198, 82);
}

#product1 .pro img {
  height: 70%;
}


#product1{
    text-align: center;

}
#product1 #span1{
    color: #D36B00;
}
#product1 #span2{
    color: #D36B00;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    background-color: whitesmoke;
    border: 1px solid #383838;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.02s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}
#product1 .pro img{
    width: 100%;
   border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}
#product1 .pro .des span{
    font-size: 12px ;
    color: #606063;
}
#product1 .pro .des h5{
    padding-top: 7 px;
    color: #1a1a1a;
    font-size: 14px;

}

#product1 .pro .des img{
    width: 40%;
 }
/*
#product1 .pro .des i{
    font-size: 12px;
    counter-reset: #D37B00;
}
*/
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #FEC260;
}
#product1 span{
    font-size: 12px ;
    color: #606063;
}


/*
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius:50px ;
    background-color: #e8f6ea;
    font-weight: 500;
    color:#FEC260 ;
    border: 1px solid #cce7d0;
    position:absolute;
    bottom:20px;
    right:10px;
}*/



#banner{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    background-image: url(imgesToShop/49.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}


#banner a{
    text-decoration: none;
    color: #000;
}

#banner h4{ 
    color:#fff;
    font-size: 25px;
}

#banner h2{ 
    color:#fff;
    font-size: 35px;
    padding: 10px 0;
}
#banner h2  span{ 
    color:#3FA796;
}

#banner button:hover{
    background-color: #3FA796;
}

#sm-banner a{
    text-decoration: none;
    color: #fff;
}

#sm-banner {

    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

#sm-banner .banner-box{

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    background-image: url(imgesToShop/d2.jpeg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin-left: 40PX;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url(imgesToShop/d3.jpeg);
}

#sm-banner h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background-color: #3FA796;
    border: 1px solid #3FA796;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;

}

#banner3 .banner-box{

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    background-image: url(imgesToShop/d5.jpeg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    margin: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image: url(imgesToShop/bk1.jpeg);
}

#banner3 .banner-box3{
    background-image: url(imgesToShop/bk2.jpeg);
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;

}
#banner3 h3{
    color: #746e72;
    font-weight: 800;
    font-size: 15px;

}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(imgesToShop/50.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #cb7403;
}

#newsletter h4{
   font-size: 22px;
   font-weight: 700;
   color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color:#fff;
}

#newsletter p span{
    color:#FEC260;
}
#newsletter .form{
    display: flex;
    width: 40%;

}


#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em ;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius:0 ;
}

#newsletter button{
    background-color: #eabf63;
    color: #fff;
    white-space: nowrap;
    outline: none;
    border: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius:0 ;
    width: 40%;
   height: 50px;

}

#newsletter button:hover{
    background-color: #d49343;
    font-size: 17px;
 }


 #newsletter button a{
    color: white;
    text-decoration: none;
    font-weight: 600;
 }

 
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: whitesmoke;
    /* background-color: rgb(244, 244, 244); */
   padding-top: 60px;
}

footer .col{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-bottom: 20px;
}

footer .logo{
 
    margin-bottom: 30px;
}

footer h4{

    font-size: 14px;
    padding-bottom: 20px;
}

footer ul li a img{
    width: 30px;
    height:30px;
   }
   footer ul li {
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-right: 5px;
   }
   footer  a img:hover{
   border: 1px solid #D36B00;
   border-radius: 10px;
   }

footer p{
 font-size: 13px;
 margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: gray;
    margin-bottom: 10px;

}



footer .install .row img{
    border: 1px solid #3FA796;
    border-radius: 10px;
   width: 150px;
}
footer .install .row img:hover{
    border: 2px solid #D36B00;
    border-radius: 15px;
 
 }

footer .install img{
    margin: 10px 0 15px 0;
    width: 30%;
}

footer a:hover{
    color: #D36B00;
}

footer .copyright{
    width: 100%;
    text-align: center;
}













@media (max-width:799px) {
    .section-p1 {
        padding: 40px 30px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right:-310px;
        height: 100vh;
        width: 30vh;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }
    #navbar.active{
        right: 0px;
    }


    #navbar li{
        margin-bottom: 25px;
    }
    #mobile img{
        display: flex;
    align-items: center;
        width: 30px;
        height: 30px;
        
    }
    
     #mobile{
    display: flex;
    align-items: center;

    }
    #close img{
        width: 15px;
        height: 15px;
    
        position: absolute;
        top: 30px;
        left: 30px;
    }
    #close{
        display: initial;
    }

    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #hero p{
        color: rgb(214, 204, 180);
    }
    #feature{
        justify-content: center;
   }
   #feature .fe-box{
    margin: 15px 15px;
   }

   #product1 .pro-container {
    justify-content: center;
}
   #product1 .pro {
    margin: 15px ;
}
   #banner {
    height: 20vh;
   
}
   #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
}
   #banner3 {
    padding: 0 40px;
}
  #newsletter .form {
    width: 70%;
}

}



@media (max-width : 477px) {
    .section-p1 {
        padding: 20px ;
    }
    #header {
        padding: 10px 30px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55% ;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    .fe-box img {
        height: 151px;
        width: 151px;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
        min-width: 365px;
        margin-left: 1vh;
    }
    #sm-banner .banner-box2 {
       margin-top: 20px;
       min-width: 130px;
    }
    #banner3 .banner-box3 {
        min-width: 87%;
    }
    #newsletter{
        padding: 20px 40px;
    }

    #newsletter .form {
        width: 100%;
    }
    footer .copyright {
        text-align: start;
    }
}